pandas
numpy
scikit-learn
sentence-transformers
pymilvus
fastapi
uvicorn
pydantic
openai
psutil
nvidia-ml-py3
langchain-core
langchain-text-splitters
langchain-community
unstructured
python-multipart
PyMuPDF
